<!-- /dashboard/base.html -->
{% extends "base.html" %} {% block content %}
<nav
  class="flex justify-between items-center px-8 py-4 shadow"
  role="navigation"
  aria-label="main navigation"
>
  <div class="flex items-center">
    <a class="flex items-center">
      <img src="../../assets/images/logo.png" alt="Logo" class="h-12 w-auto" />
    </a>
  </div>
  <div class="relative">
    <div class="dropdown is-right">
      <div class="dropdown-trigger">
        <button aria-haspopup="true" aria-controls="profile-dropdown">
          <span id="username"></span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="profile-dropdown" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <button onclick="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="flex">
  <div class="w-1/6 p-8 shadow h-screen">
    <ul>
      <li class="mb-4">
        <a href="product.html" class="flex items-center hover:underline">
          <i class="fas fa-box mr-2 w-5"></i>
          <span>Product</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="category.html" class="flex items-center hover:underline">
          <i class="fas fa-tags mr-2 w-5"></i>
          <span>Category</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="stock.html" class="flex items-center hover:underline">
          <i class="fas fa-warehouse mr-2 w-5"></i>
          <span>Stock</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="promo.html" class="flex items-center hover:underline">
          <i class="fas fa-percentage mr-2 w-5"></i>
          <span>Promo</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="voucher.html" class="flex items-center hover:underline">
          <i class="fas fa-ticket-alt mr-2 w-5"></i>
          <span>Voucher</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="#" class="flex items-center hover:underline">
          <i class="fas fa-exchange-alt mr-2 w-5"></i>
          <span>Transaction</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="#" class="flex items-center hover:underline">
          <i class="fas fa-users mr-2 w-5"></i>
          <span>Customers</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="w-5/6 p-8">
    {% block dashboard_content %}
    <!-- Dashboard Page -->
    {% endblock %}
  </div>
</div>

<script>
  function logout() {
    set_cookie("jwt", "", -1);
    window.location.href = "../index.html";
  }

  function set_cookie(name, value, hours) {
    let date = new Date();
    date.setTime(date.getTime() + hours * 60 * 60 * 1000);
    document.cookie = `${name}=${value}; expires=${date.toUTCString()}; path=/`;
  }

  document.addEventListener("DOMContentLoaded", async () => {
    token = getCookie("jwt");
    sessionData = await eel.get_current_session(token)();

    const usernameElement = document.getElementById("username");
    usernameElement.textContent = sessionData.username;
  });
</script>

{% endblock %}
