<!-- /dashboard/base.html -->
{% extends "base.html" %} {% block content %}
<nav
  class="flex justify-between items-center px-8 py-4 shadow"
  role="navigation"
  aria-label="main navigation"
>
  <div class="flex items-center">
    <a class="flex items-center">
      <img src="../../assets/images/logo.png" alt="Logo" class="h-12 w-auto" />
    </a>
  </div>
  <div class="relative">
    <div class="dropdown is-right">
      <div class="dropdown-trigger">
        <button aria-haspopup="true" aria-controls="profile-dropdown">
          <span id="username"></span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="profile-dropdown" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <button
              class="button is-dark is-small w-full js-modal-trigger"
              data-target="change-password-modal"
            >
              Change password
            </button>
          </div>
          <div class="dropdown-item">
            <button class="button is-dark is-small w-full" onclick="logout()">
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="flex">
  <div class="w-1/6 p-8 shadow h-screen">
    <ul>
      <li class="mb-4">
        <a href="index.html" class="flex items-center hover:underline">
          <i class="fas fa-tachometer mr-2 w-5"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="product.html" class="flex items-center hover:underline">
          <i class="fas fa-box mr-2 w-5"></i>
          <span>Product</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="category.html" class="flex items-center hover:underline">
          <i class="fas fa-tags mr-2 w-5"></i>
          <span>Category</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="stock.html" class="flex items-center hover:underline">
          <i class="fas fa-warehouse mr-2 w-5"></i>
          <span>Stock</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="promo.html" class="flex items-center hover:underline">
          <i class="fas fa-percentage mr-2 w-5"></i>
          <span>Promo</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="voucher.html" class="flex items-center hover:underline">
          <i class="fas fa-ticket-alt mr-2 w-5"></i>
          <span>Voucher</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="transaction.html" class="flex items-center hover:underline">
          <i class="fas fa-exchange-alt mr-2 w-5"></i>
          <span>Transaction</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="customer.html" class="flex items-center hover:underline">
          <i class="fas fa-users mr-2 w-5"></i>
          <span>Customers</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="cashier.html" class="flex items-center hover:underline">
          <i class="fas fa-cash-register mr-2 w-5"></i>
          <span>Cashiers</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="w-5/6 p-8">
    {% block dashboard_content %}
    <!-- Dashboard Page -->
    {% endblock %}
  </div>
</div>

<!-- Change Password Modal -->
<div id="change-password-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Change Password</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Old Password</label>
        <div class="control">
          <input
            class="input"
            type="password"
            id="old-password"
            placeholder="Old Password"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">New Password</label>
        <div class="control">
          <input
            class="input"
            type="password"
            id="new-password"
            placeholder="New Password"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control">
          <input
            class="input"
            type="password"
            id="confirm-password"
            placeholder="Confirm Password"
          />
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button is-success" onclick="changePassword()">
          Change password
        </button>
        <button class="button">Cancel</button>
      </div>
    </footer>
  </div>
</div>

<script>
  function logout() {
    set_cookie("jwt", "", -1);
    window.location.href = "../index.html";
  }

  function set_cookie(name, value, hours) {
    let date = new Date();
    date.setTime(date.getTime() + hours * 60 * 60 * 1000);
    document.cookie = `${name}=${value}; expires=${date.toUTCString()}; path=/`;
  }

  async function changePassword() {
    const oldPassword = document.getElementById("old-password").value;
    const newPassword = document.getElementById("new-password").value;
    const confirmPassword = document.getElementById("confirm-password").value;

    if (newPassword !== confirmPassword) {
      errorAlert("New password and confirm password do not match");
      return;
    }

    const token = getCookie("jwt");
    const result = await eel.change_password(token, oldPassword, newPassword)();

    if (result.success) {
      successAlert(result.message);
      closeModal();
      errorAlert(result.message);
    }
  }

  document.addEventListener("DOMContentLoaded", async () => {
    token = getCookie("jwt");
    if (!token) {
      window.location.href = "../index.html";
    }

    sessionData = await eel.get_current_session(token)();

    if (
      !sessionData.id ||
      !sessionData.username ||
      !sessionData.role == "admin"
    ) {
      window.location.href = "../index.html";
    }

    const usernameElement = document.getElementById("username");
    usernameElement.textContent = sessionData.username;
  });
</script>

{% endblock %}
